<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MoreTagView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E2750DC1DDC3CD4001B14AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E2750F51DDC3CD4001B14AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E2751001DDC3CD4001B14AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
